body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: #111827;
  color: white;
}

h1 {
  margin-top: 20px;
}

.form-container {
  margin: 20px auto;
}

input {
  padding: 10px;
  margin: 5px;
  border-radius: 6px;
  border: none;
}

button {
  padding: 10px 15px;
  border: none;
  background: #facc15;
  color: black;
  font-weight: bold;
  cursor: pointer;
  border-radius: 6px;
}

button:hover {
  background: #eab308;
}

table {
  margin: 20px auto;
  border-collapse: collapse;
  width: 80%;
}

th, td {
  padding: 12px;
  border: 1px solid #333;
}

th {
  background: #374151;
}

tr:nth-child(even) {
  background: #1f2937;
}

.action-btn {
  background: #ef4444;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.action-btn:hover {
  background: #dc2626;
}

#resetBtn {
  margin-top: 20px;
  background: #3b82f6;
  color: white;
}

#resetBtn:hover {
  background: #2563eb;
}

